.buttons-sumary {
  margin: 10% 5%;
}
.table-sumary {
  max-height: 250px;
  overflow-y: auto;
}
.amount-sumary {
  padding: 10px 4%;
}
.buttons-sumary p {
  font-size: 0.8em;
}
.table-sumary tbody {
  padding-top: 50px;
  display: block;
}
thead.thead-dark {
  position: fixed;
}