
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App {
  height: 100%;
}

.see-galeries.desactive {
  margin: -220px auto;
  background-color: #e5e5e5;
  display: flex;
  border-radius:8px; 
  min-height: 80px;
  max-height: 680px;
  overflow-y: auto;
}
.see-galeries.active {
  margin: -240px auto;
  height: 680px;
  background-color: #060c21;
  display: flex;
  border-radius:8px; 
  min-height: 80px;
  height: auto;
  overflow-y: auto;
  padding-top: 70px;
  margin-bottom: 60px;
}
.see-galeries h3 {
  height: 100%;
  margin: auto;
  cursor: pointer;
  color: black
}
span.pt-1 {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
}
.filterOptions {
  width: 100%;
  height: auto;
  display: block;
}